<p style="color: green"><%= notice %></p>

<h1>Estados</h1>

<div id="filter-accordion" class="accordion">
  <div class="card">
    <div class="card-header" id="filter-heading">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#filter-collapse" aria-expanded="true" aria-controls="filter-collapse">
          Filtros
        </button>
      </h2>
    </div>

    <div id="filter-collapse" class="collapse" aria-labelledby="filter-heading" data-parent="#filter-accordion">
      <div class="card-body">
      <%= search_form_for @q, remote: true do |f| %>
        <table>
          <tr>
            <td><%= f.label :nome_cont, 'Nome' %></td>
            <td><%= f.search_field :nome_cont %></td>
          </tr>
          <tr>
            <td><%= f.label :sigla_cont, 'Sigla' %></td>
            <td><%= f.search_field :sigla_cont %></td>
          </tr>
          <tr>
            <td colspan="2">
              <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
              <%= link_to 'Limpar Filtros', clear_filters_estados_path, method: :get, class: 'btn btn-secondary', style: 'margin-left: 10px;' %>
            </td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>

</br>
<%= link_to "Cadastrar", new_estado_path, class: 'btn btn-success' %>
</br></br>


<div id="estados">
<table class="table"> 

  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Sigla</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>

  <tbody>
   <% @estados.each do |estado| %>
        <tr>
          <td><%= estado.nome %></td>
          <td><%= estado.sigla %></td>
          <td><%= button_to 'Editar', edit_estado_path(estado), method: 'get', class: 'btn btn-primary'%></td>
          <td><%= button_to 'Remover',  estado_path(estado), method: 'delete', data: { turbo_confirm: "Deseja mesmo deletar esse registro?" }, class: 'btn btn-danger'%></td>  
        </tr>
    <% end %>

  </tbody>

</table>

<%== pagy_bootstrap_nav(@pagy) %>

</div>



</br>
<%= link_to "Cadastrar", new_estado_path, class: 'btn btn-success' %>
