<p style="color: green"><%= notice %></p>

<%= render @estado %>

<div>
  <div class="d-flex align-items-center">
    <%= link_to "Editar", edit_estado_path(@estado), class: 'btn btn-primary mr-4' %>
    <%= button_to "Remover", @estado, method: :delete, class: 'btn btn-danger' %>
  </div>
  </br></br>
  <%= link_to "Estados", estados_path, class: 'btn btn-primary' %>
</div>